<!-- Validation failure messages -->
<% if @availability.errors.any? %>
  <% @availability.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Availability #<%= @availability.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_availability/<%= @availability.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @availability.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for slot_id -->
      <div class="form-group">
        <label for="slot_id" class="control-label">
          Slot
        </label>

        <input type="text" id="slot_id" name="slot_id" placeholder="Slot" class="form-control" value="<%= @availability.slot_id %>">
      </div>

      <button class="btn btn-warning">
        Update Availability
      </button>
      or
      <a href="/availabilities/<%= @availability.id %>">Cancel</a>
    </form>
  </div>
</div>
