<div class="page-header">
  <h1>
    Availabilities
    <a href="/availabilities/new" class="btn btn-lg btn-success">New Availability</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "availabilities_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :created_at, "Created at" %>
          <div class="row">
            <div class='col-md-6 mb-1'>
              <div class='input-group date' id='created_atgteqPicker'>
                  <%= f.text_field :created_at_gteq, :class => "form-control", :placeholder => "Created at greater than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>

            <div class='col-md-6'>
              <div class='input-group date' id='created_atlteqPicker'>
                  <%= f.text_field :created_at_lteq, :class => "form-control", :placeholder => "Created at less than or equal to" %>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
            </div>
          </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

        <div class="form-group">
      <%= f.label :user_email_cont, "User email contains" %>
      <%= f.text_field :user_email_cont, :class => "form-control", :placeholder => "User email contains" %>
    </div>

<div class="form-group">
  <%= f.label :number, "Slot Number" %>
  <div class="row">
    <div class='col-md-6 mb-1'>
      <%= f.text_field :slot_number_gteq, :class => "form-control", :placeholder => "Slot Number greater than or equal to" %>
    </div>
    <div class='col-md-6'>
      <%= f.text_field :slot_number_lteq, :class => "form-control", :placeholder => "Slot Number less than or equal to" %>
    </div>
  </div>
</div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/availabilities" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#availabilities_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Slot</th>
        <th>Actions</th>
      </tr>

      <% @availabilities.each do |availability| %>
      <tr>
        <td>
          <% if availability.user.present? %>
            <a href="/users/<%= availability.user.id %>">
              <%= availability.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if availability.slot.present? %>
            <a href="/slots/<%= availability.slot.id %>">
              <%= availability.slot.number %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/availabilities/<%= availability.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == availability.user %>
            <a href="/availabilities/<%= availability.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_availability/<%= availability.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @availabilities, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
