<div class="page-header">
  <h1>
    Availabilities
    <a href="/availabilities/new" class="btn btn-lg btn-success">New Availability</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Slot</th>
        <th>Actions</th>
      </tr>

      <% @availabilities.each do |availability| %>
      <tr>
        <td><%= availability.user_id %></td>
        <td><%= availability.slot_id %></td>
        <td>
          <a href="/availabilities/<%= availability.id %>" class="btn btn-primary">Show</a>
          <a href="/availabilities/<%= availability.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_availability/<%= availability.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
