<div class="page-header">
  <h3>Availability #<%= @availability.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @availability.user.present? %>
          <a href="/users/<%= @availability.user_id %>">
            <%= @availability.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Slot</dt>
      <dd>
        <% if @availability.slot.present? %>
          <a href="/slots/<%= @availability.slot_id %>">
            <%= @availability.slot.number %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/availabilities" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @availability.user %>
        <a href="/availabilities/<%= @availability.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_availability/<%= @availability.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
